@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'aos/dist/aos.css';

@import 'tailwindcss';

@import 'tw-animate-css';
@font-face {
  font-family: 'k2d';
  src: url('/assest/k2d/K2D-Bold.ttf');
}

.ff-k2d {
  font-family: 'k2d';
}

.ff-inter {
  font-family: 'Inter';
}

.ff-black {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 400;
}
body {
  scroll-behavior: smooth;
}
